.catSelect {
  display: flex;
}

.catList {
  width: 33%;
  height: 340px;
  border: 1px dashed gray;
  margin: 0 5px;
  padding: 5px;
  border-radius: 3px;
}

.arrow_icon {
  float: right;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.list_item:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}
.list_item_selected:hover {
  cursor: pointer;
}
.list_item_selected {
}
.list_item {
}
