
#CDNServer
Backend/CDNServer/log/
Backend/CDNServer/database/
Backend/CDNServer/gin-bin
Backend/CDNServer/go.sum

#golang
Backend/GoBackend/gin-bin
Backend/GoBackend/go.sum
Backend/GoBackend/.idea/
Backend/GoBackend/log/
Backend/CDNServer/.idea/
Backend/GoBackend/.env

#datamongo
Backend/Database/data/
Backend/Database/log/

#javabackend
Backend/JavaBackend/.vscode/
Backend/JavaBackend/bin/
Backend/JavaBackend/target/
Backend/JavaBackend/node_modules/
Backend/JavaBackend/logs/

#nodejsbackend
Backend/NodeJSBackend/node_modules/
Backend/NodeJSBackend/logs/

#frontend
Frontend/**/node_modules/
Frontend/**/build/